# /**
#   ******************************************************************************
#   * @file        .gitattributes
#   * @author      Egor Izmaylov
#   * @brief       配置 Git 属性和文本换行处理规则。
#   * @details     2026.06.02  V1.0.0  创建
#   ******************************************************************************
#   * @attention
#   ******************************************************************************
# */

* text=auto

*.py text eol=lf
*.sh text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cu text eol=lf
*.md text eol=lf
makefile text eol=lf

*.onnx binary
*.so binary
*.dll binary
*.exe binary
